// Marsala heading for trendiness? ;-)
// http://qz.com/306879/how-you-can-use-pantones-color-of-the-year/
// #955251

div.intro-text {
    @include outer-container();
    margin-bottom: 2em;
}

div#content {
    margin-bottom: 2em;
}

div.monitor-box {
    @include outer-container;

    form.monitor-form {
        @include span-columns(2);
        @include shift(5);
        margin-bottom: 2em;
    }

    div.monitor {
        @include span-columns(8);
        @include shift(2);

        .image {
            @include span-columns(3);
        }

        .name {
            @include span-columns(2);
        }

        .spec {
            @include span-columns(3);
        }
    }
}

div {
    // border: 1px solid rgba(255,255,255, 0.5);
}