// Marsala heading for trendiness? ;-)
// http://qz.com/306879/how-you-can-use-pantones-color-of-the-year/
$marsala: #955251;

header.navigation {
    background-color: $marsala;
}

%button {
    background-color: $base-button-color;
}

div.intro-text {
    @include outer-container();
    margin-bottom: 2em;
}

div#content {
    margin-bottom: 2em;
}

div.monitor-box {
    @include outer-container;

    form.monitor-form {
        @include span-columns(4);
        @include shift(4);
        margin-bottom: 2em;
    }

    div.monitor {
        @include span-columns(10);
        @include shift(1);

        .image {
            @include span-columns(3 of 10);
        }

        .name {
            @include span-columns(3 of 10);
        }

        .spec {
            @include span-columns(4 of 10);
        }
    }
}

div {
    // border: 1px solid rgba(255,255,255, 0.5);
}
