{{> page_top }}

<body>
    <header class="navigation">
        <div class="navigation-wrapper">
            <a href="javascript:void(0)" class="logo">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
            </a>
            <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
            <div class="nav">
                <ul id="navigation-menu">
                    <li class="nav-link"><a href="javascript:void(0)">About</a></li>
                    <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
                </ul>
            </div>
            <div class="navigation-tools">
                <ul id="navigation-menu">
                    <li class="nav-link"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                    <li class="nav-link"><a href="http://www.twitter.com/russgray"><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-link"><a href="http://uk.linkedin.com/in/russgray/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="intro-text">
        <h2>Thinking About A Second Monitor?</h2>
        <h4>Let monitor-match find your perfect match!</h4>
        <p>Enter the details of your primary monitor below, and monitor-match will suggest secondary monitors with similar DPI (dots-per-inch), giving you an extended workspace that displays text and images at a consistent size and looks great!</p>
    </div>

    <section>
        <article>
            <div id="content"></div>
        </article>
    </section>

    &nbsp;

    <footer class="footer">
        <div class="footer-logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
        </div>

        <div class="footer-links">
            <ul>
                <li><h3>Content</h3></li>
                <li><a href="javascript:void(0)">About</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
                <li><a href="javascript:void(0)">Products</a></li>
            </ul>
            <ul>
                <li><h3>Follow Us</h3></li>
                <li><a href="javascript:void(0)">Facebook</a></li>
                <li><a href="javascript:void(0)">Twitter</a></li>
                <li><a href="javascript:void(0)">YouTube</a></li>
            </ul>
            <ul>
                <li><h3>Legal</h3></li>
                <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
        </div>

        <hr>

        <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
    </footer>


    <!-- Scripts -->
    {{> jquery_js }}
    {{> react_js }}
    <script src="{{ assetPath app_js }}"></script>

</body>

{{> page_bottom }}