{{> header }}

<div class="met_content">
    <div class="row-fluid">
        <div class="span12">
            <div id="content"></div>
        </div>
    </div>
</div>

<script src="{{ assetJsPath "app.min.js" }}"></script>

{{> footer }}