<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Monitor Match</title>

    <!-- Main stylesheet -->
    <link rel='stylesheet' href='{{ assetPath app_css }}' />

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
</head>
